body {
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #282c34;
    color: white;
    text-align: center;
}

.newTodoButton {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin-left: 5%;
    font-size: 48px;
    background-color: green;
}

.inputBox {
    display: flex;
    width: 75%;
    margin-left: 12.5%;
}

.mainTodoInput {
    width: 85%;
    font-size: 48px;
    height: 10vh;
}

.todoListItemText {
    padding-left: 1%;
    padding-right: 1%;
    width: 88%;
    display: flex;
    align-items: center;
}
.todoListItemDeleteButton {
    text-align: center;
    border: 0;
    border-left: 5px solid;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    font-size: 24px;
}

.todoList {
    margin-top: 2%;
    width: 75%;
    margin-left: 12.5%;
    > div:first-child {
        border-top: 5px solid black;
    }
}

.todoListItem {
    background-color: white;
    height: 5vh;
    color: black;
    text-align: left;
    font-size: 36px;
    border: 5px solid;
    border-top: 0;
    display: flex;
}

.todoMVC {
    width: 100%;
    height: 10vh;
}
